@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap')
  
#bgcard
  width: 100%
  height: 97vh
  border-radius: 8px
  background-color: #61605d91
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center 

#login
  font-family: 'Fredoka One', cursive
  box-shadow: 0 4px 8px 0 rgb(100, 63, 49), 0 6px 20px 0 rgba(255, 255, 255, 0.57)

@media screen and ( max-width: 340px )
  #login
    width: 100% !important
    min-width: 200px

#cBody
  padding: 0.25rem 1.25rem

#cBody2
  padding: 0.25rem 1.25rem
  display: flex
  justify-content: flex-end



