#una
  width: 650px
  margin: 15px 15px
  border-radius: 10px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

@media screen and ( max-width: 680px )
  #una
    width: 96%

[data-f-id]
  display: none

#cbd
  padding: 10px

.rcard
  display: inline-flex
  
#stext
  font-size: 18px !important
  line-height: 1.5 !important

#tx
  font-size: 18px
  margin: 0px
  line-height: 1.5 !important
  color: purple

@media screen and ( max-width: 425px )
  .rcard
    display: flex
    flex-direction: column
  
